@import '_variáveis';

@mixin responsive($responsive){
    @if $responsive == mobile{
        @media (min-width: 600px){
            @content;
        }
    }@else if $responsive == tablet{
        @media (min-width: 750px){
            @content;
        }
    }@else if $responsive == screen{
        @media (min-width: 1200px){
            @content;
        }
    }
}

@mixin title($title-type){
    @if $title-type == dark{
        font: {
            family: Juana medium;
            weight: 400;
        }

        color: $title;
    } @else if $title-type == light{
        font: {
            family: Juana medium;
            weight: 400;
        }
        color: $title-light;
    }
}

@mixin text($text-type){
    @if $text-type == dark{
        font: {
            size: clamp(10px, 14px + 0.5vw, 18px);
            family: 'Poppins', sans-serif;
            weight: 400;
        }
        color: $text;
    } @else if $text-type == light{
        font: {
            size: clamp(10px, 14px + 1vw, 18px);
            family: 'Poppins', sans-serif;
            weight: 400;
        }
        color: $text-light;
    } @else if $text-type == elemento{
        font: {
            size: clamp(10px, 14px + 1vw, 18px);
            family: 'Poppins', sans-serif;
            weight: 400;
        }
    }
}

// bgs

@mixin background($background){
    @if $background == bg-brendon{
        background-image: url(../Images/Backgrounds/Prosperum\ Village.png);
    } @else if $background == bg-tessia{
        background-image: url(../Images/Backgrounds/City\ of\ the\ past.jpg);
    } @else if $background == bg-amerie{
        background-image: url(../Images/Backgrounds/Yukio\ Eliora.png);
    } @else if $background == bg-agnes{
        background-image: url(../Images/Backgrounds/Yukio\ Eliora.png);
    } @else if $background == bg-ambrose{
        background-image: url(../Images/Backgrounds/Ketterdam.png);
    } @else if $background == bg-amber{
        background-image: url(../Images/Backgrounds/Iterum.png);
    } @else if $background == bg-esmeray{
        background-image: url(../Images/Backgrounds/Starry\ night.jpg);
    }
}

// cards

@mixin card($card){
    @if $card == brendon{
        background-image: linear-gradient(135deg, 
                                $color1-brendon,
                                $color2-brendon);
    } @else if $card == tessia{
        background-image: linear-gradient(135deg,
                                $color1-tessia,
                                $color2-tessia);
    } @else if $card == amerie{
        background-image: linear-gradient(135deg,
                                $color1-amerie,
                                $color2-amerie);
    } @else if $card == agnes{
        background-image: linear-gradient(135deg,
                                $color1-agnes,
                                $color2-agnes);
    } @else if $card == ambrose{
        background-image: linear-gradient(135deg,
                                $color1-ambrose,
                                $color2-ambrose);
    } @else if $card == amber{
        background-image: linear-gradient(135deg,
                                $color1-amber,
                                $color2-amber);
    } @else if $card == esmeray{
    background-image: linear-gradient(135deg,
                                $color1-esmeray,
                                $color2-esmeray);
    }
}

@mixin info-card($info-card){
    @if $info-card == info-brendon{
        border-top: 4px solid $color2-brendon;
        background-color: $color1-brendon;
    } @else if $info-card == info-tessia{
        border-top: 4px solid $color2-tessia;
        background-color: $color1-tessia;
    } @else if $info-card == info-amerie{
        border-top: 4px solid $color2-amerie;
        background-color: $color1-amerie;
    } @else if $info-card == info-agnes{
        border-top: 4px solid $color2-agnes;
        background-color: $color1-agnes;
    } @else if $info-card == info-ambrose{
        border-top: 4px solid $color2-ambrose;
        background-color: $color1-ambrose;
    } @else if $info-card == info-amber{
        border-top: 4px solid $color2-amber;
        background-color: $color1-amber;
    } @else if $info-card == info-esmeray{
        border-top: 4px solid $color2-esmeray;
        background-color: $color1-esmeray;
    }
}

// elementos

@mixin elementos($elemental){
    @if $elemental == water{
        background-image: linear-gradient(135deg,
                          $color1-water, $color2-water);
    } @else if $elemental == earth{
        background-image: linear-gradient(135deg,
                          $color1-earth, $color2-earth);
    } @else if $elemental == air{
        background-image: linear-gradient(135deg,
                          $color1-air, $color2-air);
    } @else if $elemental == ice{
        background-image: linear-gradient(135deg,
                          $color1-ice, $color2-ice);
    } @else if $elemental == dark{
        background-image: linear-gradient(135deg,
                          $color1-dark, $color2-dark);
    } @else if $elemental == fire{
        background-image: linear-gradient(135deg,
                          $color1-fire, $color2-fire);
    } @else if $elemental == eletric{
        background-image: linear-gradient(135deg,
                          $color1-eletric, $color2-eletric);
    } @else if $elemental == steel{
        background-image: linear-gradient(135deg,
                          $color1-steel, $color2-steel);
    } @else if $elemental == grass{
        background-image: linear-gradient(135deg,
                          $color1-grass, $color2-grass);
    } @else if $elemental == interrogation{
        background-image: linear-gradient(135deg,
                          $color1-interrogation, $color2-interrogation);
    }
}

@mixin elementos-info($elemental-info){
    @if $elemental-info == info-water{
        background-color: $color2-water;
        border-top: 4px solid $color1-water;
        color: $water-text;
    } @else if $elemental-info == info-earth{
        background-color: $color2-earth;
        border-top: 4px solid $color1-earth;
        color: $earth-text;
    } @else if $elemental-info == info-air{
        background-color: $color2-air;
        border-top: 4px solid $color1-air;
        color: $air-text;
    } @else if $elemental-info == info-ice{
        background-color: $color2-ice;
        border-top: 4px solid $color1-ice;
        color: $ice-text;
    } @else if $elemental-info == info-dark{
        background-color: $color2-dark;
        border-top: 4px solid $color1-dark;
        color: $dark-text;
    } @else if $elemental-info == info-fire{
        background-color: $color2-fire;
        border-top: 4px solid $color1-fire;
        color: $fire-text;
    } @else if $elemental-info == info-eletric{
        background-color: $color2-eletric;
        border-top: 4px solid $color1-eletric;
        color: $eletric-text;
    } @else if $elemental-info == info-steel{
        background-color: $color2-steel;
        border-top: 4px solid $color1-steel;
        color: $steel-text;
    } @else if $elemental-info == info-grass{
        background-color: $color2-grass;
        border-top: 4px solid $color1-grass;
        color: $grass-text;
    } @else if $elemental-info == info-interrogation{
        background-color: $color2-interrogation;
        border-top: 4px solid $color1-interrogation;
        color: $interrogation-text;
    }
}