$bg: #1E1E1E;
$bg-light: #E6E6FA;

$bg-divs: rgba(0, 0, 0, 0.4);

$title: #890808;
$title-light: #640303;
$text: #BFBFBF;
$text-light: #919199;

$border: #851C1C;
$border-light: #B1B1E8;

$items-color: #640303;
$items-color-light: #7b7bb1;

$space: 30px;
$gap: 50px;

// cards

$card: rgba(255, 255, 255, 0.1);
$card-light: rgba(255, 255, 255, 0.4);

$color1-brendon: #FFD04F;
$color2-brendon: #EBB549;

$color1-tessia: #5978BD;
$color2-tessia: #565AA6;

$color1-amerie: #3385b0;
$color2-amerie: #306AC7;

$color1-agnes: #883538;
$color2-agnes: #a13c2c;

$color1-ambrose: #2f432e;
$color2-ambrose: #475c38;

$color1-amber: #ff5b2a;
$color2-amber: #E8732C;

$color1-esmeray: #E38FD8;
$color2-esmeray: #87639e;