$preto: #000000;
$branco: #ffffff;

$bg: #1E1E1E;
$bg-light: #E6E6FA;

$bg-divs: rgba(0, 0, 0, 0.4);
$bg-card: rgba(255, 255, 255, 0.1);
$bg-card-light: rgba(255, 255, 255, 0.4);
$shadow: rgba(0, 0, 0, 0.6);

$title: #a10707;
$title-light: #7474b2;
$text: #c7c7c7;
$text-light: #616060;

$border: #952020;
$border-light: #B1B1E8;

$items-color: #6c0404;
$items-color-light: #7b7bb1;

$space: 30px;
$gap: 50px;

// cards

$card: rgba(255, 255, 255, 0.1);
$card-light: rgba(255, 255, 255, 0.4);

$color1-brendon: #FFD04F;
$color2-brendon: #EBB549;

$color1-tessia: #5978BD;
$color2-tessia: #565AA6;

$color1-amerie: #3385b0;
$color2-amerie: #306AC7;

$color1-agnes: #883538;
$color2-agnes: #bc2229;

$color1-ambrose: #2f432e;
$color2-ambrose: #475c38;

$color1-amber: #ff5b2a;
$color2-amber: #E8732C;

$color1-esmeray: #E38FD8;
$color2-esmeray: #87639e;

// elementos

$color1-water: #17a6ca;
$color2-water: #0954a9;
$water-text: #06c0f9;

$color1-earth: #6b3f06;
$color2-earth: #48230a;
$earth-text: #996206;

$color1-air: #f4f4f4;
$color2-air: #c1c1c1;
$air-text: #fafdfa;

$color1-ice: #c9f3f8;
$color2-ice: #a7e9ff;
$ice-text:  #ecf9ff;

$color1-dark: #4b0082;
$color2-dark: #280137;
$dark-text: #82129e;

$color1-fire: #d07807;
$color2-fire: #a94909;
$fire-text: #e1a008;

$color1-eletric: #f9e009;
$color2-eletric: #e9ba29;
$eletric-text: #fff204;

$color1-steel: #aeaeae;
$color2-steel: #5c5c5c;
$steel-text:#c6c6c6;

$color1-grass: #9db664;
$color2-grass: #4E6E1B;
$grass-text: #7fb611;

$color1-interrogation:  #1e1e1e;
$color2-interrogation: #332F2E;
$interrogation-text: #cfcbcb;