@import '_variáveis';
@import '_mixins';

@import '_header';
@import '_footer';

@import '_main';
@import '_main-personages';

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track{
    background-color: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb {
    background-color: #640303;
}

p::-webkit-scrollbar{
    width: 5px;
}

p::-webkit-scrollbar-track{
    background-color: transparent;
}

p::-webkit-scrollbar-thumb {
    background-color: rgb(72, 69, 69);
    border-radius: 25px;
}

@font-face {
    font-family: Juana medium;
    src: url(../Fonts/Juana\ Medium.otf);
}

@font-face {
    font-family: Juana light;
    src: url(../Fonts/Juana\ light.otf);
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: $bg;

    &.light{
        background-color: $bg-light;
    }

    h1{
        @include title(dark);
    }

    p{
        @include text(dark);
    }
}