@import 'variáveis';
@import 'mixins';

@import 'header';
@import 'main';
@import 'footer';

@import 'main-personages';

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track{
    background-color: $preto;
}

::-webkit-scrollbar-thumb {
    background-color: $items-color;
}

p::-webkit-scrollbar{
    width: 5px;
}

p::-webkit-scrollbar-track{
    background-color: transparent;
}

p::-webkit-scrollbar-thumb {
    background-color: rgb(72, 69, 69);
    border-radius: 25px;
}

@font-face {
    font-family: Juana medium;
    src: url(../Fonts/Juana\ Medium.otf);
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: $bg;

    overflow-x: hidden;

    &.light{
        background-color: $bg-light;
    }
}