@import '../variáveis';
@import '../mixins';

.brendon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .brendon__info{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 40px 0;
        gap: $gap;

        background-image: url(../Images/Backgrounds/Prosperum\ Village.png);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: 0 40px 60px 60px $shadow;

        @include responsive(tablet){
            flex-direction: row;
            padding: 60px;
        }

        figure{
            width: 30%;
            display: flex;
            align-items: center;
            justify-content: center;

            img{
                width: 100%;
                min-width: 220px;
                max-width: 440px;
                min-height: 220px;
                max-height: 440px;

                border-radius: 5px;
            }
        }

        .brendon__text{
            width: 70%;
            max-width: 850px;
            min-width: 260px;
            min-height: 400px;
            max-height: 500px;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: $space;

            background-color: $bg-divs;
            border-radius: 10px;
            box-shadow: 3px 3px 4px $shadow;

            backdrop-filter: blur(2px);

            @include responsive(tablet){
                max-width: 850px;
                min-width: 350px;
                min-height: 350px;
                max-height: 500px;
            }

            img{
                width: 80px;
                height: 80px;
                margin: 0 0 15px 0;
            }

            hr{
                width: 100%;
                height: 2px;
                background-image: linear-gradient(to right,
                                        $bg-divs, $border, $bg-divs);
            }

            h1{
                @include title(dark);
                margin: $space 0;

                font-size: 35px;
            }

            p{
                @include text(dark);
                font-size: clamp(10px, 14px + 0.5vw, 25px);
                width: 100%;
                max-width: 100%;
                min-width: 180px;
                max-height: 400px;
                overflow: auto;
            }
        }
    }
    
    .brendon__elemental{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: $space;

        .elemental__title{
            width: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: $space;

            img{
                width: 150px;
                height: 150px;
                margin: 0 0 15px 0;
            }

            h1{
                @include title(dark);
                font-size: 35px;

                margin: $space 0;

                .light &{
                    @include title(light);
                }
            }

            hr{
                width: 100%;
                height: 1.5px;
                background-image: linear-gradient(to right,
                                        $bg, $border, $bg);
        
                .light &{
                    background-image: linear-gradient(to right,
                                        $bg-light, $border-light, $bg-light);
                }
            }
        }

        .cards__elementais{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            gap: $gap;
            padding: 0 0 $space 0;

            .elemental{
                width: 200px;
                height: 200px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;

                border-radius: 10px;
                background-color: $card;
                
                overflow: hidden;
                transition: all 0.2s ease-in-out;

                .light &{
                    background-color: $card-light;
                }

                &:hover{
                    div{
                        transform: translateY(0);
                    }
                }

                img{
                    width: 150px;
                    height: 150px;
                }

                div{
                    height: 80px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    bottom: 0;
                    padding: 20px;

                    border-radius: 0 0 10px 10px;

                    transform: translateY(100%);
                    transition: all 0.2s ease-in-out;

                    p{
                        @include text(elemento);
                        font-size: 14px;
                    }
                }
            }

            #elemental-water{
                &:hover{
                    @include elementos(water);
                
                    div{
                        @include elementos-info(info-water);
                    }
                }
            }

            #elemental-earth{
                &:hover{
                    @include elementos(earth);
                
                    div{
                        @include elementos-info(info-earth);
                    }
                }
            }

            #elemental-air{
                &:hover{
                    @include elementos(air);
                
                    div{
                        @include elementos-info(info-air);
                    }
                }
            }

            #elemental-ice{
                &:hover{
                    @include elementos(ice);
                
                    div{
                        @include elementos-info(info-ice);
                    }
                }
            }

            #elemental-dark{
                &:hover{
                    @include elementos(dark);
                
                    div{
                        @include elementos-info(info-dark);
                    }
                }
            }

            #elemental-fire{
                &:hover{
                    @include elementos(fire);
                
                    div{
                        @include elementos-info(info-fire);
                    }
                }
            }

            #elemental-eletric{
                &:hover{
                    @include elementos(eletric);
                
                    div{
                        @include elementos-info(info-eletric);
                    }
                }
            }

            #elemental-steel{
                &:hover{
                    @include elementos(steel);
                
                    div{
                        @include elementos-info(info-steel);
                    }
                }
            }
        }
    }
}